

/*
 * Copyright (C) 2013 Tower Technologies
 * Written by Alessandro Zummo <a.zummo@towertech.it>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
 /dts-v1/;
 /plugin/;
 
 
 / {
   compatible = "ti,beaglebone-black";
   part-number = "HS-CAN";
   version = "00A0";
 
   /* state the resources this cape uses */
   exclusive-use =
     /* the pin header uses */
    "P9.17",	/* spi0_cs0 */
    "P9.18",	/* spi0_d1 */
    "P9.21",	/* spi0_d0 */
    "P9.22",	/* spi0_sclk */
    "P9.31",	/* spi1_sclk */
    "P9.29",	/* spi1_d0 */
    "P9.30",	/* spi1_d1 */
    "P9.28",	/* spi1_cs0 */
     /* the hardware IP uses */
     "spi0",    /* CAN_0 */
     "dcan1",   /* CAN_1 */
     "spi1";    /* CAN_2 */
 
   fragment@0 {
     target = <&am33xx_pinmux>;
     __overlay__ {
 
       bone_dcan1_pins: bone_dcan1_pins {
         pinctrl-single,pins = <
           0x180 0x02      /* uart1_rxd.d_can1_tx", OUTPUT | MODE2 */
           0x184 0x32      /* uart1_txd.d_can1_rx", INPUT_PULLUP | MODE2 */
         >;
       };

       bone_spi0_pins: bone_spi0_pins {
         pinctrl-single,pins = <
            0x150 0x30	/* spi0_sclk.spi0_sclk, INPUT_PULLUP | MODE0 */
            0x154 0x30	/* spi0_d0.spi0_d0, INPUT_PULLUP | MODE0 */
            0x158 0x10	/* spi0_d1.spi0_d1, OUTPUT_PULLUP | MODE0 */
            0x15c 0x10	/* spi0_cs0.spi0_cs0, OUTPUT_PULLUP | MODE0 */
         >;
       };
 
       bone_spi1_pins: bone_spi1_pins {
         pinctrl-single,pins = <
            0x190 0x33	/* mcasp0_aclkx.spi1_sclk, INPUT_PULLUP | MODE3 */
            0x194 0x33	/* mcasp0_fsx.spi1_d0, INPUT_PULLUP | MODE3 */
            0x198 0x13	/* mcasp0_axr0.spi1_d1, OUTPUT_PULLUP | MODE3 */
            0x19c 0x13	/* mcasp0_ahclkr.spi1_cs0, OUTPUT_PULLUP | MODE3 */
         >;
       }; 
     };
   };

   fragment@1 {
     target = <&dcan1>;
     __overlay__ {
       status = "okay";
       pinctrl-names = "default";
       pinctrl-0 = <&bone_dcan1_pins>;
     };
   };
 
   fragment@2 {
         target = <&spi0>;
 
     __overlay__ {
       #address-cells = <1>;
       #size-cells = <0>;

       status    = "okay";
 
       mcp2515@0 {

         pinctrl-names   = "default";
         pinctrl-0       = <&bone_spi0_pins>;

         compatible = "microchip,mcp2515";
         reg = <0>;
         mode = <0>;
 
         spi-max-frequency = <10000000>;
 
         interrupt-parent = <&gpio2>;
         interrupts = <17>;
 
         mcp251x,oscillator-frequency = <16000000>;
         mcp251x,irq-gpios = <&gpio2 17 0>;
         mcp251x,stay-awake = <1>;
         mcp251x,enable-clkout = <1>;
       };
     };
   };
 
    fragment@3 {
         target = <&spi1>;
 
     __overlay__ {
       #address-cells = <1>;
       #size-cells = <0>; 
 
       status    = "okay";

       mcp2515@1 {
         pinctrl-names   = "default";
         pinctrl-0       = <&bone_spi1_pins>;

         compatible = "microchip,mcp2515";
         reg = <0>;
         mode = <0>;
 
         spi-max-frequency = <10000000>;
 
         interrupt-parent = <&gpio4>;
         interrupts = <21>;
 
         mcp251x,oscillator-frequency = <16000000>;
         mcp251x,irq-gpios = <&gpio4 21 0>;
         mcp251x,stay-awake = <1>;
         mcp251x,enable-clkout = <1>;
       };
     };
   };
 };


